@import "../../index.scss";

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/banner.jpg);
  height: 100vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  .text_container {
    text-align: center;
    color: var(--cor-primary);
    h1 {
      font-weight: 900;
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
      span {
        border-bottom: 5px solid var(--cor-quinary);
      }
    }
    p {
      font-size: 1.1rem;
      text-transform: uppercase;
      margin-top: 0.3rem;
      font-weight: 500;
    }
    div {
      position: relative;
      .search {
        position: absolute;
        right: 70px;
        bottom: 1px;
        font-size: 2rem;
        color: black;
        cursor: pointer;
        &:hover{
          @include text_hover
        }
      }
      input {
        width: 78%;
        height: 33px;
        border-radius: 15px;
        outline: none;
        border: none;
        font-size: 1.1rem;
        padding-left: 18px;
      }
    }
    .container_icons {
      display: flex;
      justify-content: space-around;
      margin-top: 3.5rem;
      padding: 0 1rem 0 1rem;
      a {
        text-decoration: none;
        .box_icons {
          background-color: #00000077;
          color: var(--cor-primary);
          padding: 1.5rem 0.5rem 0 0.5rem;
          width: 80px;
          border-radius: 2px;
          &:hover {
            @include text_hover;
          }
          .icons {
            width: 30px;
            height: 30px;
            margin-bottom: 0;
          }
          h4 {
            margin-top: 0.5rem;
            padding-bottom: 0.9rem;
          }
        }
      }
    }
  }
}
