@import "../../index.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.356);
  width: 100%;
  border-bottom: 1px solid var(--cor-septenary);
  color: var(--cor-primary);
  div {
    a {
      color: var(--cor-primary);
      text-decoration: none;
      &:hover {
        @include text_hover;
      }
      h1 {
        font-size: 2rem;
        padding-left: 4rem;
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
    padding-right: 4rem;
    li {
      padding-right: 1.5rem;
      a {
        text-decoration: none;
        font-size: 1.3rem;
        color: #fff;
        &:hover {
          @include text_hover;
        }
      }
    }
  }
}
