.container {
  max-width: 1280px;
  margin: 6rem auto 0 auto;

  .text_box {
    text-align: center;
    text-transform: uppercase;
    h4 {
      color: #55555581;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    h1 {
      color: #555;
      font-size: 2rem;
      margin-top: 0;

      span {
        border-bottom: 5px solid #48bf91;
      }
    }
  }

  .container_images {
    display: flex;
    flex-wrap: wrap;
    .images_box {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      img {
        height: 470px;
        width: 370px;
      }
    }
  }
}
